<template>
  <div class="container">
    <b-table striped hover :fields="fields" :items="items">
      <template slot="quantity" slot-scope="data">
        <b-form-input v-model="data.item.quantity"
          type="number"></b-form-input>
      </template>
      <template slot="sales" slot-scope="data">
        {{getItemSales(data.item.quantity, data.item.price)}}
      </template>
    </b-table>
    <div class="totalSales">
      <h2><b-badge variant="info">Total Sales: {{getTotalSales(items)}}</b-badge></h2>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        { key: 'item_name', label: 'Item' },
        'price',
        { key: 'quantity', label: 'Quantity' },
        { key: 'sales', label: 'Sales' },
      ],
      items: [
        { item_name: 'Atay', price: 12 },
        { item_name: 'Bato', price: 12 },
        { item_name: 'Bitukang Baboy', price: 12 },
        { item_name: 'Bitukang Manok', price: 5 },
        { item_name: 'Dugo', price: 5 },
        { item_name: 'Hotdog', price: 15 },
        { item_name: 'Laman', price: 12 },
        { item_name: 'Tenga', price: 12 },
        { item_name: 'Ulo', price: 12 },
      ],
    };
  },
  methods: {
    getItemSales(quantity, price) {
      if (!quantity) {
        return 0;
      }
      return quantity * price;
    },
    getTotalSales(items) {
      return items.reduce((total, item) => {
        if (!item.quantity) {
          return total;
        }
        return total + (item.quantity * item.price);
      }, 0);
    },
  },
};
</script>

<style type="text/css">
  .totalSales {
    text-align: center;
  }
</style>